:root {
    --pallete-dark: #181C14;
    --pallete-gray: #3C3D37;
    --pallete-green: #697565;
    --pallete-cream: #ECDFCC;

    --card-shadow: 4px 8px 8px #0000006D;
    --card-border-radius: 10px;

    --shared-gap: 1rem;
}

body {
    display: grid;
    grid-template-columns: 250px 2fr 1fr;

    position: relative;
    min-height: 100vh;
    background: linear-gradient(0deg, rgba(24, 28, 20, 1) 0%, rgba(105, 117, 101, 1) 100%) fixed;
    font-family: Verdana, sans-serif;
}

/* sidebar and its contents */
#sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;

    padding: var(--shared-gap);
    border: 1px solid var(--pallete-cream);
}

#add-actions {
    text-align: center;
}

#add-actions div {
    display: flex;
    flex-direction: column;
    gap: var(--shared-gap);

    margin-top: 1rem;
    padding: var(--shared-gap);
    border-radius: var(--card-border-radius);
    border-top: 3px solid var(--pallete-cream);
}

#add-actions button {
    padding: 1rem 2rem;
}

/* top info bar*/
#projects-info {
    text-align: center;
}
/* main section and its different variations */
main {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

#projects-container {
    display: grid;
    gap: var(--shared-gap);

    padding: var(--shared-gap);
}

.projects {
    grid-template-columns: repeat(auto-fit, 250px);
    grid-auto-rows: minmax(300px, 50%);
}

.tasks {
    grid-auto-rows: 130px;
}

.notes {
    grid-template-columns: repeat(auto-fit, 500px);
    grid-auto-rows: 300px;
}
/* projects navigator and its contents*/
#project-navigator {
    position: sticky;
    bottom: 0;
}

#project-navigator > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#btn-back {
    width: 120px;
    margin: 15px;
    padding: 5px;
}

#btn-back:disabled {
    opacity: 0.2;
}

#pager {
    display: flex;
    flex-wrap: wrap;
    gap: var(--shared-gap);
    align-items: center;
    justify-content: space-between;

    width: 50%;
    padding: 0 8px;
    border: 1px solid var(--pallete-cream);
}

#pager-controls{
    display: flex;
    align-items: center;
}

#pager-controls button {
    padding: 5px;
    border: none;
    background-color: transparent;
    color: var(--pallete-cream);
    font-size: 2rem;
}

#pager-controls button:hover {
    color: #b2a79b;
}

#total-items,
#curr-page{
    font-style: italic;
}
/* shared card styles */
.card {
    padding: var(--shared-gap);
    border-radius: var(--card-border-radius);
    background-color: var(--pallete-gray);
    color: var(--pallete-cream);
}

.card:hover {
    box-shadow: var(--card-shadow);
}

.card button {
    width: 2rem;
    height: 1rem;
    border: none;
    background-color: transparent;
    visibility: hidden;
}

.card:hover button {
    visibility: visible;
}

.card:hover button:hover {
    opacity: 0.8;
}
/* different card types */
.project-card {
    display: grid;
    grid-template-columns: 1fr auto;
}

.project-card h3 {
    height: min-content;
    width: min-content;
    border-bottom: 3px solid var(--pallete-green);
}

.project-card > div {
    align-items: center;
    justify-self: center;
    grid-column: 1 / 3;

    display: flex;
    flex-direction: column;
    gap: var(--shared-gap);
}
/* priority levels */
.low {
    --color: #69ce5e;
}

.medium {
    --color: #cebf5e;
}

.high {
    --color: #d36161;
}

.urgent {
    --color: #9861d3;
}

/* different task statues */

.done {
    text-decoration: line-through;
}

.in-progress {
    text-decoration: underline;
}

.task-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    border-left: 5px solid var(--color);
}

.task-card div {
    justify-self: end;
}

.task-card p {
    justify-self: center;
}

.task-card select {
    justify-self: center;
}

.note-card {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: var(--shared-gap);
}

.note-card *:not(div) {
    justify-self: center;
    grid-column: 1 / 3;
}

.note-card h3 {
    width: 90%;
    height: 3rem;
    text-align: center;
    border-bottom: 5px dashed var(--pallete-green);
}

.note-card p {
    width: 90%;
    overflow: hidden;
    text-overflow: clip;
}

.note-card div {
    grid-column: 2 / 3;
    align-self: end;
}
/* shared modals styles */
dialog {
    margin: auto;
    padding: var(--shared-gap);
    border: 5px dashed var(--pallete-green);
    border-radius: var(--card-border-radius);
    background-color: var(--pallete-dark);
    color: var(--pallete-cream);
}
/* colors symbolizing different actions */
.add {
    color: #75e139;
}

.delete {
    color: #e13939;
}

.edit {
    color: #39e1db;
}

dialog form {
    display: grid;
    gap: var(--shared-gap);
}

dialog h3,
dialog:not(.view-window) p:first-of-type {
    margin-bottom: 1.2rem;
}

dialog label {
    margin-right: 0.5rem;
}

dialog input,
dialog textarea {
    padding: 5px 10px;
    border: none;
    background-color: var(--pallete-cream);
    border-radius: var(--card-border-radius);
}

dialog input:focus,
dialog textarea:focus {
    outline: 3px dotted var(--pallete-cream);
    outline-offset: 3px;
}

dialog div {
    justify-self: center;
    display: flex;
    gap: var(--shared-gap);

    margin-top: 1rem;
}

dialog button {
    padding: 5px 10px;
}

dialog form  p {
    display: flex;
    align-items: center;
}

dialog label {
    text-align: right;
    width: 120px;
    padding-right: 20px;
}

textarea, input[type="text"], input[type="date"] {
    box-shadow: 1px 1px 1px #999999;
}
/*  styles for view tasks/notes modals */
.view-window {
    width: 600px;
    height: 300px;
    border: 10px ridge var(--pallete-green);

    overflow: auto;
    scrollbar-color: var(--pallete-cream) var(--pallete-dark);
    scrollbar-width: thin;
}

.view-window span {
    display: inline-block;
    color: var(--pallete-cream);
}

.view-window  p {
    margin-bottom: 1rem;
    color: var(--pallete-green);
}
/* sorting/filtering right panel */
#tasks-sorter {
    position: sticky;
    top: 15px;
}

#tasks-sorter ul {
    margin-left: 1rem;
}
/* options with radio inputs pager/filtering/sorting */
.options {
    padding: var(--shared-gap);
    border: 1px solid var(--pallete-cream);
    height: min-content;
}

.options fieldset {
    padding: var(--shared-gap);
    border: 4px solid var(--pallete-green);
}

.options fieldset:first-child {
    margin-bottom: 1rem;
}

.options legend {
    padding: 2px 4px;
    font-weight: bold;
    background-color: var(--pallete-gray);
    border-radius: var(--card-border-radius);
}

#items-options div {
    display: flex;
    flex-wrap: wrap;
    gap: var(--shared-gap);
}
/* other shared styles */
.basic-section {
    margin: 15px;
    background-color: var(--pallete-dark);
    color: var(--pallete-cream);
    border-radius: 20px;
}

.basic-btn {
    border: none;
    border-radius: 12px;
    background-color: var(--pallete-green);
    color: var(--pallete-cream);
    font-weight: bold;
}

.basic-btn:hover:enabled {
    background-color: #5a6457;
}